<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597156302594-gdcoa1ni9t7mkruqf18m8u6hc262c5ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597156302594-gdcoa1ni9t7mkruqf18m8u6hc262c5ns</string>
	<key>API_KEY</key>
	<string>AIzaSyC3aBPWbOsjv74qBhQ1SntRWZHPHY-QGqg</string>
	<key>GCM_SENDER_ID</key>
	<string>597156302594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socarapp</string>
	<key>PROJECT_ID</key>
	<string>socarmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>socarmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597156302594:ios:978f7e25af90d994f53c1b</string>
</dict>
</plist>